AZURE_STORAGE_ACCOUNT_NAME=your_storage_account_name
AZURE_STORAGE_ACCOUNT_KEY=your_account_key
AZURE_RESOURCE_GROUP=your_resource_group
AZURE_WORKSPACE_NAME=your_ml_workspace_name
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key
